body{
    background-color: black;
    color: darkgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    border: 2px solid white;
    margin: 50px auto 50px;
    padding: 50px 50px;
    width: 590px;
    height: 530px;
    
}
.display{
    display: flex;
    width: 530px;
    justify-content: space-around;
    background-color: black;
    padding-top: 30px;
}
.display1{
    display: flex;
    background: black;
    width: 200px;
}
.display2{
    display: flex;
    margin-left: 30px;
    background: black;
    width: 200px;
}
#underline{
    margin-top: 50px;
    padding: 20px 30px;
    margin-bottom: 50px;
    border-bottom: 2px solid darkgrey;
}
#length{
    width: 130px;
    font-size: 22px;
    color: white;
    background-color: black;
    border: 1px solid darkgrey;
    outline: 0;
    text-align: center;
}
#password1{
    border: 0;
    outline: 0;
    width: 200px;
    font-size: 22px;
    font-weight: 300;
    color: #12f78c;
    padding: 5px 7px;
    background-color: #252424;
}
#password2{
    border: 0;
    outline: 0;
    width: 200px;
    font-size: 22px;
    font-weight: 300;
    color: #12f78c;
    padding: 5px 7px;
    background-color: #252424;
}
#color{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
img{
    width: 50px;
    cursor: pointer;
}
h1{
font-weight: 500;
font-size: 45px;
}
h2{
    color: darkgrey;
}
.btn{
    margin-top: 10px;
    background: #019f55;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    padding: 10px 15px;
    font-size: 22px;
}
.classButton{
    display: flex;
    justify-content: space-evenly;
}
.buttonn{
    margin-top: 10px;
    background: #019f55;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    width: 250px;
    padding: 10px 15px;
}